@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

$color-primary: #ccff00;
$color-secondary: #fee601;
$color-border: #1a1a1a;
$color-gray: #b2b2b2;
$color-white: #ffffff;
$color-black: #000000;
$color-bg: var(--color-bg);

:root{
    --color-bg: #efefef;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: $color-bg;
}

img{
    display: block;
    user-select: none;
    pointer-events: none;
}

ul,
li
{
    list-style-type: none;
}

.section{
    padding: 5rem 0;
}

.avatar{
    &-group{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        &__item{
            &:not(:first-child){
                margin-left: -10%;
            }
            .avatar:is(:hover, :focus),
            &:is(:hover, :active, :focus-within) > *
            {
                transform: translateY(-10%);
            }
            .avatar:is(:hover, :focus){
                z-index: 1;
            }
        }
    }
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid $color-gray;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    transition: transform .08s ease-in;
    &-image,
    &-text
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &-image{
        object-fit: cover;
    }
    &-text{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        background-color: $color-black;
        font-weight: 700;
    }
}

.nft-card{
    height: 40rem;
    padding: 1rem ;
    background-color: $color-border;
    border-radius: 2rem;
    &__container{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
        outline: 1px solid $color-border;
        z-index: 1;
    }
    &__image{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .avatar-group{
            padding-left: 1.5rem;
        }
        &__right{
            position: relative;
            padding: 1rem 2rem 1rem 0rem;
            background-color: $color-black;
            z-index: 1;
            &__curve{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: inherit;
                z-index: -1;
                border-bottom-left-radius: 1.5rem;
                transform-origin: left bottom;
                transform: translateX(-1.5rem) skew(20deg);
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 3rem;
                    height: 1.5rem;
                    border-top-right-radius: 1.5rem;
                    background-color: transparent;
                    transform: translateX(-100%);
                    box-shadow: 1.5rem -1.5rem 0 1.5rem $color-black;
                }
            }
            &__text{
                color: $color-white;
                margin-bottom: 0.2em;
            }
            &__title{
                color: $color-primary;
                font-weight: 600;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }
    }
}